<section *ngIf="team" class="team">
    <h1 class="owner">{{team.manager}}</h1>
    <div class="roster-header row">
        <h2>Pos</h2>
        <h2>Name</h2>
        <h2>Rnd</h2>
        <h2>Team</h2>
        <h2>Bye</h2>
    </div>
    <ol class="roster">
        <li *ngFor="let player of team.roster" class="player row">
            <div>{{player.position}}</div>
            <div>{{player.name}}</div>
            <div>{{player.round_drafted}}</div>
            <a href={{player.team_url}}>{{player.team}}</a>
            <div>{{player.bye_week}}</div>
        </li>
    </ol>
</section>
